/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## Headings
	-----------------------------------------------*/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	caption,
	#menu-social li a {
		color: $palette-primary_2;
	}
	.site-title a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	.entry-title::before {
		border-top: 1px solid $palette-primary_2;
	}

	/*-----------------------------------------------
	## Buttons
	-----------------------------------------------*/
	a.btn:hover,
	a.btn:focus,
	a.button-primary:hover,
	a.button-primary:focus {
		color: $text-contrast-palette-primary_1; 
	}

	/*-----------------------------------------------
	## Elements
	-----------------------------------------------*/
	hr {
		background: $palette-primary_2;
	}

	/*-----------------------------------------------
	## Nav
	-----------------------------------------------*/
	#primary-navbar a,
	#secondary-menu a,
	#tertiary-menu a,
	#menu-social-items a,
	#footer-center-menu a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	#primary-navbar,
	#secondary-menu,
	#tertiary-menu,
	#menu-social-items,
	#footer-center-menu {
		.current-menu-item a,
		a:hover,
		a:focus {
			color: $palette-primary_1;
		}
	}

	/*-----------------------------------------------
	## Blog
	-----------------------------------------------*/
	.widget-area {
		border: 1px solid $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## WooCommerce
	-----------------------------------------------*/
	
	/*-----------------------------------------------
	## Footer
	-----------------------------------------------*/
	.site-footer a,
	.post-edit-link {
		color: $palette-primary_1;
	}
}
