/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## Headings
	-----------------------------------------------*/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	caption {
		color: $palette-primary_2;
	}
	.site-title a {
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Links
	-----------------------------------------------*/
	a,
	.link-primary {
		color: $palette-primary_1;
	}
	.link-secondary {
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## Elements
	-----------------------------------------------*/
	hr {
		border-top: 1px solid $palette-primary_2;
	}
	blockquote,
	.mod-blockquote {
		border-left: 5px solid $palette-primary_4;
	}

	/*-----------------------------------------------
	## Nav
	-----------------------------------------------*/
	#primary-navbar a,
	#secondary-menu a,
	#tertiary-menu a,
	#menu-social-items a,
	#footer-center-menu a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	#primary-navbar,
	#secondary-menu,
	#tertiary-menu,
	#menu-social-items,
	#footer-center-menu {
		.current-menu-item a,
		a:hover,
		a:focus {
			color: $palette-primary_3;
		}
	}
	#primary-navbar .current-menu-item a {
		background: none;
	}
	#primary-navbar .current-menu-parent > a {
		background: none;
		color: $palette-primary_3;
	}
	.dropdown-menu,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.navbar-default .navbar-toggle {
		background: $palette-primary-neutral-color;
		border-color: $palette-primary_3;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: $text-contrast-palette-primary-neutral-color;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background-color: $text-contrast-palette-primary_3;
	}
	.has-submenu .sub-arrow:hover,
	.has-submenu .sub-arrow:focus {
		color: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## Comments
	-----------------------------------------------*/
	.panel,
	.panel-body,
	.panel-footer,
	.panel-default > .panel-heading {
		background-color: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.panel-default > .panel-heading .media-heading {
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## Posts
	-----------------------------------------------*/
	&.archive .site-content,
	&.archive .site-header,
	&.archive .site-footer,
	&.single .site-content,
	&.single .site-header,
	&.single .site-footer {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Widgets
	-----------------------------------------------*/
	.well {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.widget.well a {
		color: $text-contrast-palette-primary_5;
	}
	.widget.well a:hover,
	.widget.well a:focus {
		background: none;
	}
	.widget_calendar .table-striped > tbody > tr:nth-of-type(2n+1) {
		background-color: $text-contrast-palette-primary_5;
		color: $palette-primary_5;
	}
	.widget_calendar #today {
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## WooCommerce
	-----------------------------------------------*/
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $text-contrast-palette-primary-neutral-color;
	}
	mark,
	.mark {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	## Footer
	-----------------------------------------------*/
	&.disabled-footer .site-footer {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
}
