/*------------------------------------------------------------------------
# Variables
------------------------------------------------------------------------*/
$lighten1: lighten($palette-primary_1, 5%);
$lighten2: lighten($palette-primary_2, 5%);

/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary-neutral-color;
	color: $text-contrast-palette-primary-neutral-color;

	/*-----------------------------------------------
	## Headings
	-----------------------------------------------*/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	caption {
		color: $palette-primary_2;
	}
	.site-title a {
		color: $text-contrast-palette-primary-neutral-color;
	}

	/*-----------------------------------------------
	## Links
	-----------------------------------------------*/
	a,
	.link-primary {
		color: $palette-primary_1;
	}
	.link-secondary {
		color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## Buttons
	-----------------------------------------------*/
	.button-primary {
		background-color: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.button-secondary {
		background-color: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.button-primary:hover,
	.button-primary:focus {
		background-color: $lighten1;
		color: $text-contrast-palette-primary_1;
	}
	.button-secondary:hover,
	.button-secondary:focus {
		background-color: $lighten2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## Elements
	-----------------------------------------------*/
	hr {
		border-top: 1px solid $palette-primary_2;
	}
	blockquote,
	.mod-blockquote {
		border-left: 5px solid $palette-primary_4;
	}

	/*-----------------------------------------------
	## Nav
	-----------------------------------------------*/
	#primary-navbar a,
	#secondary-menu a,
	#tertiary-menu a,
	#menu-social-items a,
	#footer-center-menu a {
		color: $text-contrast-palette-primary-neutral-color;
	}
	#primary-navbar,
	#secondary-menu,
	#tertiary-menu,
	#menu-social-items,
	#footer-center-menu {
		.current-menu-item a,
		a:hover,
		a:focus {
			color: $palette-primary_3;
		}
	}

	/*-----------------------------------------------
	## Comments
	-----------------------------------------------*/
	.panel,
	.panel-body,
	.panel-footer,
	.panel-default > .panel-heading {
		background-color: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
	.panel-default > .panel-heading .media-heading {
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## Widgets
	-----------------------------------------------*/
	.well {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	.widget.well a {
		color: $text-contrast-palette-primary_5;
	}
	.widget.well a:hover,
	.widget.well a:focus {
		background: none;
	}
	.widget_calendar .table-striped > tbody > tr:nth-of-type(2n+1) {
    	background-color: $text-contrast-palette-primary_5;
    	color: $palette-primary_5;
	}
	.widget_calendar #today {
		color: $palette-primary_1;
	}

	/*-----------------------------------------------
	## WooCommerce
	-----------------------------------------------*/
	#reviews #comments ol.commentlist li .meta {
		color: $text-contrast-palette-primary-neutral-color;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $text-contrast-palette-primary-neutral-color;
	}
	mark,
	.mark {
 		background: $palette-primary_1;
 		color: $text-contrast-palette-primary_1;
 	}

	/*-----------------------------------------------
	## Footer
	-----------------------------------------------*/
	&.disabled-footer .site-footer {
		background: $palette-primary-neutral-color;
		color: $text-contrast-palette-primary-neutral-color;
	}
}
